@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-align: center;
    overflow-x: hidden;
}

/* header styling */

#header {
    position: sticky;
    top: 0;
}

/* top-line styling */

#top-line {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 8px 0px;
}

#top-line>div {
    display: flex;
    margin: 0px 50px;
}

#top-line>div>p {
    margin: 0px 8px;
    font-size: x-small;
    letter-spacing: 1px;
}

/* Navbar Styling */

#navbar {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    background-color: white;
    font-size: small;
    letter-spacing: 2px;
}

#navbar>div:first-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar>div:first-child>div {
    margin: 0px 20px;
}

.dropdown {
    display: flex;
    position: relative;
}

.dropdown>button {
    margin: 0px 10px;
    background-color: white;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.dropdown>div {
    position: absolute;
    z-index: 1;
    width: 70vw;
    display: flex;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
    line-height: 30px;
    letter-spacing: normal;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.dropdown>div ul {
    list-style: none;
    cursor: pointer;
    color: grey;
}

.dropdown>div>div {
    margin: 0px 20px;
}

.dropdown>div>div h3 {
    margin: 10px 0px;
}

.dropdown>div:last-child>div:nth-child(2),
.dropdown>div:last-child>div:nth-child(3) {
    padding-top: 40px;
}

.dropdown>div:last-child>div:first-child>h3:first-child,
.dropdown>div:last-child>div:last-child {
    color: grey;
}

.dropdown>div:last-child>div:last-child {
    display: flex;
}

.dropdown>div:last-child>div:last-child>div {
    display: block;
    width: 150px;
}

.dropdown>div:last-child>div:last-child>div>img {
    width: 100%;
}

.dropdown>div>div:last-child {
    border-left: 1px solid grey;
    margin: 0px 30px;
    padding: 0px 30px;
}

.dropdown>div>div:last-child img {
    width: 40px;
    margin-right: 10px;
}

.dropdown>div>div:last-child div {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    width: 80%;
}

.dropdown>button:focus+div {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

#navbar>div:first-child>div:first-child>img {
    width: 150px;
}

#navbar>div:first-child>div:last-child>ul>li {
    display: inline-block;
    margin: 0px 5px;
}

#navbar>div:first-child>div:last-child>ul>li>a {
    text-decoration: none;
    color: black;
}

#navbar>div:last-child {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 5px 0px;
}

#navbar>div:last-child>div:first-child {
    width: 300px;
}

#navbar>div:last-child>div:last-child {
    margin-left: 15px;
    border-left: 1px solid lightslategray;
    display: flex;
    align-items: center;
}

#navbar>div:last-child>div input {
    padding: 10px 0px;
    font-size: 12px;
    box-shadow: none;
    width: 100%;
    background: #eaeaea;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0;
    padding-left: 50px;
}

#navbar>div:last-child a {
    text-decoration: none;
    margin-left: 15px;
    color: black;
    font-size: 18px;
}

#navbar>div:last-child i {
    margin: 0px 10px;
    font-size: 20px;
}

#navbar>div:last-child button {
    position: absolute;
    border: none;
    background: #eaeaea;
    margin-top: 7px;
    margin-left: 7px;
}

#navbar>div:last-child>div:last-child>img {
    width: 25px;
    margin: 0px 10px;
}

/* Menu styling */

#menu {
    display: flex;
    margin: auto;
    padding: 5px 0px 15px;
    justify-content: center;
    font-size: 17px;
    background-color: white;
}

#menu>div {
    margin: 0px 30px;
    padding: 10px 0px;
}

#menu>div>a {
    color: black;
    text-decoration: none;
}


#menu>div:hover {
    font-weight: bold;
    border-bottom: 5px solid #fdd835;
}

/* end of header styling */

/* Message Styling */

#message {
    background-color: #e8f3e5;
    padding: 10px 0px;
}

#message>span {
    display: block;
    /* Important to give the content a width */

    width: 100%;
    transform: translateX(100%);
    /* Animation start out of the screen */

    /* Add the animation */
    animation: move 15s linear infinite;
        /* infinite make reapeat the animation indefinitely */
}

/* Create the animation */
@keyframes move {
    to {
        transform: translateX(-100%);
    }
}

/* top-banners styling */

#top-banners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 10px;

}

#top-banners>div>img {
    width: 100%;
}

/* random products styling  */

#random-products {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;
    margin: 40px;
    text-align: center;
}

#random-products>div>img {
    width: 100%;
}

/* trending & new section styling */

#trending,
#new {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin: 20px 60px;
    text-align: left;
}

#trending>div>img,
#new>div>img {
    width: 100%;
}

#trending>div>span:last-child,
#new>div>span:last-child {
    font-size: small;
    text-decoration: line-through;
}

/* categories styling */

#categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    margin: 20px 50px;

}

#categories img {
    width: 100%;
}

a+h3 {
    margin-top: 50px;
}

/* favourites styling */

#favourites>div:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
}

#favourites>div>div>img {
    width: 100%;
}

#favourites>div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
}

div+a {
    font-size: small;
    font-weight: bold;
    margin: 10px 0px;
}

/* footer styling */

#footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: black;
    color: white;
    padding: 50px;
    font-size: small;

}

#footer>div {
    height: 300px;
    padding: 20px;
    text-align: left;
    position: relative;
}

#footer>div:first-child h4 {
    color: #fdd835;
    margin-top: 10px;
    margin-bottom: 20px;
}

#footer>div:first-child img {
    background-color: #fdd835;
    width: 120px;
    padding: 0;
}

#footer>div:first-child~div h4 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fdd835;
}

#footer>div:last-child>div {
    display: flex;
}

#footer>div:last-child>div>input {
    background-color: black;
    color: grey;
    border: none;
    padding: 8px;
    border-bottom: 1px solid #fdd835;
}

#footer>div:last-child>div>button {
    background-color: #fdd835;
    color: black;
    padding: 10px 20px;
}

#footer>div>p {
    line-height: 20px;
    letter-spacing: 1px;
}

.footer-bottom {
    position: absolute;
    bottom: 20px;
    line-height: 20px;

}

#footer>div:nth-child(2)>.footer-bottom img {
    width: 40%;
}

#footer>div:nth-child(3)>.footer-bottom img {
    width: 100%;
    margin-bottom: 10px;
}

#footer i {
    height: 30px;
}

#footer>div:nth-child(3)>p:nth-child(4)>i {
    margin-right: 15px;

}

#footer>div:first-child i {
    margin-right: 10px;
}

/* Media queries */

@media all and (max-width: 1100px) and (min-width:601px) {
    /* Medium Screen Styles  */

    #top-line {
        display: none;
    }

    #navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    #menu {
        font-size: small;
        flex-wrap: wrap;
    }

    #random-products {
        grid-template-columns: repeat(3,1fr);
    }

    #trending {
        grid-template-columns: repeat(3,1fr);
    }

    #categories {
        grid-template-columns: repeat(3,1fr);
    }

    #favourites > div:first-child {
        grid-template-columns: repeat(2,1fr);
    }

    #new {
        grid-template-columns: repeat(3,1fr);
    }

    #footer {
        grid-template-columns: repeat(2,1fr);
    }

}

@media all and (max-width: 601px) and (min-width:200px) {
    /* Small Screen Styles  */

    #top-line {
        display: none;
    }

    #navbar {
        flex-wrap: wrap;
    }

    #navbar > div {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    #menu {
        font-size: small;
        flex-wrap: wrap;
    }

    #top-banners {
        grid-template-columns: repeat(1,1fr);
    }

    #random-products {
        grid-template-columns: repeat(2,1fr);
    }

    #trending {
        grid-template-columns: repeat(2,1fr);
    }

    #categories {
        grid-template-columns: repeat(2,1fr);
    }

    #favourites > div:first-child {
        grid-template-columns: repeat(1,1fr);
    }
    #favourites > div:last-child {
        grid-template-columns: repeat(1,1fr);
    }

    #new {
        grid-template-columns: repeat(2,1fr);
    }
    
    
    #footer {
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 0px;
    }

}
