body {
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Splash', cursive; */
    font-family: 'Yantramanav', sans-serif;
    margin: 0 auto;

}

.navigation-links {
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
}

.navigation-links .logo {
    width: 17%;
}

.navigation-links .logo img {
    width: 96%;
}

.navigation-links>div+div ul li {
    display: inline-block;
    margin: 0px 10px;

}

.navigation-links>div+div ul li a {
    text-decoration: none;
}

.navigation-links>div+div ul li input {
    padding: 20px;
}

.navbar {
    display: flex;
}

.login-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-up>div input {

    padding: 10px 30px;
    font-size: 12px;
    box-shadow: none;
    width: 100%;
    background: #eaeaea;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    margin: 0;
    padding-left: 50px;


}

.login-up a {
    text-decoration: none;
    margin-left: 50px;
    color: black;
    font-size: 18px;
}

.login-up i {
    margin: 0px 7px;
    font-size: 20px;
}

.login-up button {
    position: absolute;
    border: none;
    /* background: #e4e1e1; */
    background: #EAEAEA;
    margin-top: 7px;
}


/* ************************ signUP page css************ */

.sign {
    display: flex;
    justify-content: space-around;
}

.sign h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333333;
    font-size: 40px;

}

.sign>div+div>h2 {
    font-size: 27px;
    text-align: center;
    color: #333333;
    letter-spacing: 1px;
}

/* horixntal line */
hr.new4 {
    border: 1px solid red;
    width: 30px;
}

form+p {
    color: #333333;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    font-size: 14px;
}

form+p a {
    color: orangered;
    text-decoration: none;
}

.text-para {
    color: orangered;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
    text-align: center;
}

.sign form {
    /* border: 2px solid black; */
    box-shadow: #00000059 0px 5px 15px;
    width: 80%;
    margin: auto;
    background-color: white;


}

.sign {

    height: calc(100vh - 45px);
    background-image: linear-gradient(0deg, rgb(255, 244, 196), rgb(255, 255, 255));
}


form h3 {
    text-align: center;
    padding: 10px;
    font-size: 22px;
    padding-top: 30px;
    width: 80%;
    margin: auto;
    letter-spacing: 1px;


}

.sign form {
    padding: 0px 40px;
    box-sizing: border-box;
}

form a {
    color: rgb(237, 100, 8);
    text-decoration: none;
    font-weight: 500;

}

form .txt_field {
    position: relative;
    border-bottom: 2px solid rgb(237, 100, 8);
    margin: 30px 0;
}

form input[type=submit] {
    background-color: rgb(234, 97, 11);
    padding: 10px 17px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
}

.txt_field input {
    width: 98%;
    padding: 0 5px;
    height: 22px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
    margin-top: 18px;
    background-color: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 35px;
    color: #adadad;
    transform: translate(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(237, 100, 8);
    transition: .5s;

}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: rgb(234, 97, 11);

}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

/* for images css */
.container {
    position: relative;
    width: 100%;
    margin-top: 70px;
}

.image {
    display: block;
    height: 500px;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EA610B;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.container:hover .overlay {
    width: 100%;
}

.text {
    white-space: nowrap;
    color: black;
    font-size: 34px;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text p {
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 1px #1c1b1b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/* login page css */


.login {

    height: calc(100vh - 45px);
    background-image: linear-gradient(0deg, rgb(255, 244, 196), rgb(255, 255, 255));
}

.login form {
    /* border: 2px solid black; */
    box-shadow: #00000059 0px 5px 15px;
    width: 30%;
    margin: auto;
    padding: 20px 30px;
}

.login p {
    text-align: center;
}

.login h3 {
    text-align: center;
    font-size: 35px;
}

.login>p {
    text-align: center;
    font-size: 19px;
    margin-bottom: 40px;

    font-weight: 500;
}

.login form h2 {
    text-align: center;
}


/* *********Products Page css***************************** */
#products {
    width: 1340px;
    margin: auto;
}

#products>div ul li {
    display: inline-block;
    margin: 0px 6px;
    float: left;
    margin-bottom: 29px;
}

#products>div ul li a {
    text-decoration: none;
    color: rgb(48, 41, 41);
}

.tag {
    margin-top: 42px;
    margin-left: 30px;
    font-size: 28px;
    border-bottom: 3px solid orangered;
    width: 17%;
    margin-bottom: 26px;
}

/* section divided css */

.main_Section {
    width: 98%;
    display: flex;
    margin-left: 30px;

}

/* small section css */
.small_Section {
    width: 30%;
    margin-top: -22px;
}

/* Fixed sidenav, full height */
.small_Section .sidenav {
    height: 100%;
    width: 290px;
    top: 0;
    left: 0;

    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.small_Section .sidenav a,
.dropdown-btn {
    padding: 21px 8px 6px 4px;
    text-decoration: none;
    font-size: 15px;
    color: #2d2c2c;
    display: flex;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-right: 20px;
}

.small_Section .sidenav a:hover,
.dropdown-btn:hover {
    color: #ef6102;

}



/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.small_Section .dropdown-container {
    display: none;
    padding-left: 8px;

}

/* Optional: Style the caret down icon */
.small_Section .fa-angle-down {
    float: right;
    padding-right: 10px;
    position: absolute;
    left: 25%;
    font-size: 18px;
    color: #545353;
    z-index: -30;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .small_Section .sidenav {
        padding-top: 15px;
    }

    .small_Section .sidenav a {
        font-size: 18px;
    }
}


/* ****large section products page css */

#large_Section {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

#large_Section img {
    width: 100%;
}

.H5tag {
    font-size: 16px;
    margin: 0px 1px;
    color: #2e2d2d;
}

.priceTag {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.price_link {
    text-decoration: none;
    color: orangered;
    font-weight: 500;
    background-color: #f2f2f2;
}

.small_Section h3 {
    color: rgb(74, 73, 73);
    float: left;
    margin-bottom: 28px;
}

/* sorting css */

.sort {
    float: right;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 800;
    color: #817f7f;

}


.sort select {
    border: none;
    outline: none;
    font-size: 15px;


}



/* ******************Product 2 page css starts************************************************************ */

#products2 {
    width: 1170px !important;
    margin: auto;
    z-index: -4;
    position: relative;
}

#products2>div ul li {
    display: inline-block;
    margin: 0px 6px;
}

#products2>div ul li a {
    text-decoration: none;
    color: rgb(48, 41, 41);
    font-size: 15px;
}


.partition_pRoduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin-top: 60px;
}

.partition_pRoduct img {
    width: 100%;
}


/* gallery image starts */

.gallery-container {
    display: flex;
    justify-content: center;

}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.thumbnails img {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.scrollbar {
    width: 1px;
    height: 515px;
    background: orangered;
    display: block;
    margin: 0 0 0 8px;
}

.thumb {
    width: 1px;
    position: absolute;
    height: 0;
    background: #000;
}

.slides {
    margin: 0 16px;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    width: calc(540px + 1rem);
    padding: 0 0.25rem;
    height: 520px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

}

.slides>div {
    scroll-snap-align: start;
}

.slides img {
    width: 480px;
    height: 580px;
    object-fit: cover;
}

.slides::-webkit-scrollbar {
    display: none;
}

/* gallery image ends */


/* content section starts */

.content {
    position: relative;
    top: -20px;
    left: -30px;

}

.content h3 {
    font-size: 22px;
    letter-spacing: 0.5px;
    color: #504e4e;
    float: left;
    margin-top: 41px;
}

.content h3+p {
    color: grey;
    font-size: 20px;
    margin-top: 76px;
    letter-spacing: 0.5px;
    float: left;
    /* margin-right: -39px; */
    position: relative;
    left: -23%;
}

.content .priceNo+p {
    float: left;
    position: absolute;
    margin-top: 29%;
}

.box1 {
    border: 1px solid rgb(160, 158, 158);
    width: 55px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #817f7f;
    background-color: #f7f4f4;
}

.box1 i {
    font-size: 12px;
    color: #FBC739;
    text-align: center;
}

.content .priceNo {
    display: flex;
    align-items: center;
    float: left;
    margin-top: 20px;
}

.content .priceNo p:nth-child(1) {
    font-size: 26px;
    margin-right: 5px;

}

.content .priceNo p:nth-child(2) {
    text-decoration: line-through;
    font-size: 16px;
    margin-right: 6px;
    font-weight: 500;
    color: #838383;
}

.content .priceNo p:nth-child(3) {
    color: green;
    font-size: 19px;
    font-weight: 500;

}

.box-2 {
    display: flex;
    align-items: center;
    margin-top: 86px;
    float: left;
    margin-left: -189px;
}

.buttontags2 {
    float: left;
}

.start {
    float: left;
    margin-top: 40px;
}

.lines {
    float: left;
    margin-top: 30px;

}

.lines p {

    font-size: 13px;
    width: 100%;
    padding: 14px 0px;

}

.btnTango {
    float: left;
    margin-top: 20px;
}

.content div+div+p {
    color: grey;
    margin-top: -30px;
}

.hrTag {
    border-bottom: 2px solid rgb(81, 80, 80);
}

.box-2+hr+p {
    color: #4f4e4e;
}

.box-2+hr+p a {
    text-decoration: none;
    color: rgb(12, 100, 199);
    font-weight: 500;
}

.hrTag+h5 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 3px;
}

.hrTag+h5+div {
    display: flex;
    margin-top: -10px;
}

.hrTag+h5+div .box {
    border: 2px solid rgb(113, 112, 112);
    padding: 10px 14px;
    margin: 0px 7px;
    border-radius: 4px;
}

.box-2 p:nth-child(1) {
    color: white;
    background-color: green;
    padding: 2px 6px;
}

.box-2 p:nth-child(2) {
    color: white;
    background-color: grey;
    padding: 2px 6px;
    margin-left: 10px;
    font-size: 17px;
}




/*  */

.buttontags2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttontags2 form [type=submit] {
    background-color: #EA610B;
    border: none;
    padding: 15px 60px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-right: 0px;
    box-shadow: 0px !important;
    margin-top: 29px;
}

.buttontags2 button {
    background-color: rgb(255, 255, 255);
    padding: 14px 55px;
    border: 1px solid gray;
    font-weight: 600;
    font-size: 16px;
    margin-left: 30px;
    height: 50px;
    text-align: center;
    color: #2e2d2d;

}


.fa-cart-shopping {
    position: relative;
    left: 40px;
    color: white;
    font-size: 16px;
}

/* rating block  starts */


.heading {
    font-size: 20px;
    margin-right: 25px;
    margin-top: 60px;
    font-weight: 600;

}

.heading~p span {

    font-size: 30px;
    font-weight: 600;
    color: orangered;
    text-shadow: 1px 1px 1px black;
}

.heading~p {
    color: black;
}

.heading .fa {
    font-size: 25px;
}

.checked {
    color: rgb(255, 42, 0);
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 30px;
    height: 11px;
}

/* Individual bars */
.bar-5 {
    width: 90%;
    background-color: #ff9800;
    border-radius: 20px;
    height: 11px;
}

.bar-4 {
    width: 60%;
    border-radius: 20px;
    height: 11px;
    background-color: #ff9800;
}

.bar-3 {
    width: 20%;
    border-radius: 20px;
    height: 11px;
    background-color: #ff9800;
}

.bar-2 {
    width: 8%;
    border-radius: 20px;
    height: 11px;
    background-color: #ff9800;
}

.bar-1 {
    width: 10%;
    border-radius: 20px;
    height: 11px;
    background-color: #ff9800;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {

    .side,
    .middle {
        width: 100%;
    }

    .right {
        display: none;
    }
}

/* rating block css ends */

#btn,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6 {
    border: 2px solid rgb(113, 112, 112);
    padding: 10px 14px;
    margin: 0px 7px;
    border-radius: 4px;
    background-color: white;
}


/* footer styling starts here*/

#footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: black;
    color: white;
    padding: 50px;
    font-size: small;

}

#footer>div {
    height: 300px;
    padding: 20px;
    text-align: left;
    position: relative;
}

#footer>div:first-child h4 {
    color: #fdd835;
    margin-top: 10px;
    margin-bottom: 20px;
}

#footer>div:first-child img {
    background-color: #fdd835;
    width: 120px;
    padding: 0;
}

#footer>div:first-child~div h4 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fdd835;
}

#footer>div:last-child>div {
    display: flex;
}

#footer>div:last-child>div>input {
    background-color: black;
    color: grey;
    border: none;
    padding: 8px;
    border-bottom: 1px solid #fdd835;
}

#footer>div:last-child>div>button {
    background-color: #fdd835;
    color: black;
    padding: 10px 20px;
}

#footer>div>p {
    line-height: 20px;
    letter-spacing: 1px;
}

.footer-bottom {
    position: absolute;
    bottom: 20px;
    line-height: 20px;

}

#footer>div:nth-child(2)>.footer-bottom img {
    width: 40%;
}

#footer>div:nth-child(3)>.footer-bottom img {
    width: 100%;
    margin-bottom: 10px;
}

#footer i {
    height: 30px;
}

#footer>div:nth-child(3)>p:nth-child(4)>i {
    margin-right: 15px;

}

#footer>div:first-child i {
    margin-right: 10px;
}

/* footer styling ends here */